                <div id="sidebar-inner">
                    {{#if @blog.logo}}<div id="blog-logo"><img src="{{@blog.logo}}" alt="Blog Logo" /></div>{{/if}}
                    <div id="about-blog">
                        <p>I am a runner with a heart for encouraging others to be brave; to set aside the numbers and love the run simply because of what it does to the soul. I'll provide you with plenty of tips to run stronger and faster, but let's agree to remember that the numbers don't translate into the men and women we truly are. Welcome to the journey</p>
                        <div id="about-social">
                            <a href="http://twitter.com/lovingtherun"><i class="fa fa-twitter-square"></i></a>
                            <a onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()"><i class="fa fa-rss-square"></i></a>
                        </div>
                    </div>
                </div>
